<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangzc.blog.blogai.Mapper.TAiMapper">

    <resultMap id="BaseResultMap" type="com.zhangzc.blog.blogai.Pojo.domain.TAi">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="qq" column="qq" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="TINYINT"/>
            <result property="chatCount" column="chat_count" jdbcType="INTEGER"/>
            <result property="isBanned" column="is_banned" jdbcType="TINYINT"/>
            <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,qq,role,
        chat_count,is_banned,ip_address,
        created_at,updated_at
    </sql>
</mapper>
